<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_change_password.css') }}">
</head>
<body>
    <div class="container">
        <h2>Đổi mật khẩu</h2>
        <form method="POST" action="/change_password">
            <label for="current_password">Mật khẩu hiện tại:</label>
            <input type="password" name="current_password" required>

            <label for="new_password">Mật khẩu mới:</label>
            <input type="password" name="new_password" id="new_password" required>

            <label for="confirm_password">Xác nhận mật khẩu mới:</label>
            <input type="password" name="confirm_password" required>

            <div id="password-strength"></div>

            <button type="submit">Xác nhận</button>
            <a href="/password_manager" class="cancel-button">Hủy</a>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/password_strength.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thongbao.js') }}"></script>

</body>
</html>
