<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_forgotpass.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/okhoa2.jpg') }}" type="image/x-icon">
    <title>Quên mật khẩu</title>
</head>
<body>
    <h2>Quên mật khẩu</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form method="POST" action="/forgot_password">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" name="username" required><br>

        <label for="otp">Mã OTP:</label>
        <input type="text" name="otp" required><br>

        <label for="new_password">Mật khẩu mới:</label>
        <input type="password" name="new_password" required><br>

        <button type="submit">Xác nhận</button>
    </form>
    <script src="{{ url_for('static', filename='js/thongbao.js') }}"></script>

</body>
</html>
