<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/okhoa2.jpg') }}" type="image/x-icon">
    <title>Password Manager</title>
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_pm.css') }}">
</head>
<script>
    setTimeout(function () {
        var flashes = document.querySelector('.flashes');
        if (flashes) {
            flashes.style.display = 'none';
        }
    }, 3000); 
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Kiểm tra độ mạnh của mật khẩu
        document.getElementById('password').addEventListener('input', function () {
            const text = this.value;
            const strengthIndicator = document.getElementById('password-strength');
            let strength = 0;

            if (text.length >= 8) strength++;
            if (/[!@#$%^&*(),.?":{}|<>]/g.test(text)) strength++;
            if (/[a-z]/.test(text) && /[A-Z]/.test(text)) strength++;
            if (/\d/.test(text)) strength++;

            switch (strength) {
                case 0:
                    strengthIndicator.textContent = '';
                    break;
                case 1:
                    strengthIndicator.textContent = 'Yếu: Nên thêm ký tự đặc biệt và chữ số.';
                    strengthIndicator.style.color = 'red';
                    break;
                case 2:
                    strengthIndicator.textContent = 'Trung bình: Tăng độ dài hoặc thêm ký tự đặc biệt.';
                    strengthIndicator.style.color = 'orange';
                    break;
                case 3:
                    strengthIndicator.textContent = 'Khá mạnh: Có thể sử dụng được.';
                    strengthIndicator.style.color = 'blue';
                    break;
                case 4:
                    strengthIndicator.textContent = 'Mạnh: Mật khẩu an toàn.';
                    strengthIndicator.style.color = 'green';
                    break;
            }
        });

        // Tạo mật khẩu mạnh tự động
        document.getElementById("generate-password").addEventListener("click", function () {
            const passwordField = document.getElementById("password");
            const characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()_+[]{}|;:,.<>?";
            let password = "";
            const length = 12;

            for (let i = 0; i < length; i++) {
                password += characters.charAt(Math.floor(Math.random() * characters.length));
            }

            passwordField.value = password;

            const strengthIndicator = document.getElementById("password-strength");
            strengthIndicator.textContent = "Mật khẩu mạnh đã được đề xuất.";
            strengthIndicator.style.color = "green";
        });
    });
</script>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo-details">
                <img src="{{ url_for('static', filename='images/okhoa.jpg') }}" alt="Logo" class="icon">
                <div class="logo-name">Password Manager</div>
                <i class='fa fa-ellipsis-v' id="btn"></i>
            </div>
            <ul class="nav-list">
                <li>
                    <a class="mail-received">
                        <i class='bx bxs-home'></i>
                        <span class="links-name">Trang chủ</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a class="mail-send">
                        <i class="fa fa-list"></i>                        
                        <span class="links-name">Danh sách mật khẩu</span>
                    </a>
                    <span class="tooltip">Danh sách mật khẩu</span>
                </li>
                <li>
                    <a href="/change_device">
                        <i class="fa fa-mobile"></i>
                        <span class="links-name">Thay đổi thiết bị</span>
                    </a>
                    <span class="tooltip">Thay đổi thiết bị</span>
                </li>
                <li>
                    <a href="/change_password">
                        <i class='bx bx-refresh'></i>
                        <span class="links-name">Đổi mật khẩu đăng nhập</span>
                    </a>
                    <span class="tooltip">Đổi mật khẩu đăng nhập</span>
                </li>
                <li class="nav-item">
                    <a href="/backup_data" class="nav-link">
                        <i class='bx bx-cloud-upload nav-icon'></i>
                        <span class="links-name">Sao lưu dữ liệu</span>
                    </a>
                    <span class="tooltip">Sao lưu dữ liệu</span>
                </li>
                
                
                <li class="nav-item">
                    <a href="/recover_data" class="nav-link">
                        <i class='bx bx-cloud-download nav-icon'></i>
                        <span class="links-name">Khôi phục dữ liệu</span>
                    </a>
                    <span class="tooltip">Khôi phục dữ liệu</span>
                </li>
                
                <li class="log-out">
                    <a href="/logout">
                        <i class="bx bx-log-out" id="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>

        <section class="home-section">
            <div class="head-section">
                <h2 style="color: aliceblue;">Xin chào, <span>{{ username }}</span></h2>
                <i class="fa fa-user-circle" style="color: whitesmoke; margin-left: 20px; height: 20px; width: 20px;"></i>
            </div>

            <div class="form-mail-received">
                <div class="form-container">
                    <h3>Thêm mật khẩu</h3>
                    <form method="POST" action="/password_manager">
                        <div class="row-1">
                            <label for="description">Mô tả:</label>
                            <input type="text" name="description" required>
                            <button type="button" style="background: white;"></button>

                        </div>
                        <div class="row-1">
                            <label for="password">Mật khẩu:</label>
                            <input type="text" name="password" id="password" required>
                            <button type="button" id="generate-password" class="generate-button" style="background: black;">Đề xuất</button>
                        </div>
                        <div id="password-strength"></div>
                        <button type="submit">Thêm mật khẩu</button>
                    </form>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

            <div class="form-mail-send">
                <!-- Nút bật/tắt chế độ an toàn -->
                <form method="GET" action="/toggle_safe_mode">
                    <button type="submit" class="safe-mode-button">
                        {{ 'TURN OFF SAFE MODE' if safe_mode else 'TURN ON SAFE MODE' }}
                    </button>

                </form>
                <div class="safe-mode-status">
                    <h2>Safe mode is: {{ 'ON' if safe_mode else 'OFF' }}.</h2>
                </div>
                <h3>Danh sách </h3>
                <table class="email-table">
                    <thead>
                        <tr>
                            <th>Tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Ẩn/hiện</th>
                            <th>Xóa</th>
                            <th>Sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pwd in passwords %}
                        <tr>
                            <td><span>{{ pwd[1] }}</span></td>
                            <td>
                                <!-- Mật khẩu ẩn/hiện -->
                                <input type="password" value="{{ pwd[2] }}" class="password-field" readonly>
                            </td>
                            <td>
                                <!-- Nút ẩn/hiện mật khẩu -->
                                <button type="button" onclick="togglePassword(this)">Hiện</button>
                            </td>
                            <td>
                                <!-- Nút xóa -->
                                <form method="POST" action="/delete_password/{{ pwd[0] }}" style="display:inline;">
                                    <button type="submit" class="delete-button">Xóa</button>
                                </form>
                            </td>
                            <td>
                                <!-- Nút sửa -->
                                <a href="/update_password/{{ pwd[0] }}" class="edit-button">Sửa</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination-controls"></div>
            </div>
            <div class="form-container">
                <h3>Tải Lại Dữ Liệu</h3>
                <form method="POST" action="/recover_data">
                    <label for="old_username">Tên tài khoản cũ:</label>
                    <input type="text" name="old_username" required>
            
                    <label for="backup_key">Khóa backup:</label>
                    <input type="text" name="backup_key" required>
            
                    <button type="submit">Tải lại dữ liệu</button>
                </form>
            </div>
            
            
        </section>
    </div>

    </section>
    </div>
    <script src="{{ url_for('static', filename='js/pm-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thongbao.js') }}"></script>
</body>
<footer>
    <p class="footer">&copy; 2024 Password Manager. All rights reserved. Design by <a href="https://www.facebook.com/trandykhuong" target="_blank" style="text-decoration: none; color: rgb(0, 83, 111);">DuyKhuong</a></p>
<a href="https://www.facebook.com/trandykhuong" target="_blank" style="text-decoration: none;"></a>
</footer>

</html>