<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_update.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/okhoa2.jpg') }}" type="image/x-icon">
    <title>Cập nhật mật khẩu</title>
</head>
<body>
    <div class="container">
        <h2>Cập nhật mật khẩu</h2>

        <form method="POST" action="/update_password/{{ password[0] }}">
            <label for="password">Mật khẩu mới:</label>
            <input type="password" name="password" value="{{ password[3] }}" required><br>

            <div class="button-container">
                <button type="submit" class="update-button">Cập nhật</button>
                <a href="/password_manager" class="back-button">Quay lại</a>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/thongbao.js') }}"></script>

</body>
</html>
